@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
  font-family: 'Playfair Display', serif;

}
.App {
  text-align: center;
}

.disp{
  display:none;
}
.color-navbar{
  font-family: 'Playfair Display', serif;
  font-size: 5vh;
  color: #AC1010;

  
}
.buttonText{
  float: right;
  margin-right:41vw;
  font-size:5vh;

}
.svgLogo{
  padding-top: 0;
  height:13vh;
}
.navHeader{
  margin-left:auto;
  


}
.thumb{
  height:50vh;
  width:30vw;
}
.btn-danger{
  background-color:#AC1010 ;
}
.card-Title{
  height: 10vh;
  font-size: 1.3rem;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
