@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
.App {
  text-align: center;
}

.disp{
  display:none;
}
.color-navbar{
  font-family: 'Rye', cursive;
  font-size: 5vh;
  color: #AC1010;

  
}
.buttonText{
  float: right;
  margin-right:41vw;
  font-size:5vh;

}
.svgs{
  padding-top:2vh;
  margin-left: 25vw;
}
.svgs2{
  padding-top:2vh;
  margin-left: 24.5vw;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
